/* Style the tab buttons */
h1{
  color: #333231;
  text-align: left;
  padding: 14px;
}


h2{
    background-color: #1c396b;
    color: #09cdeb;
    text-align: center;
    padding:10px;
}

h3{
  background-color: #1c396b;
  color: #09cdeb;
  font-size: 15px;
  align-content: center;
  text-align: center;
  padding: 10px;
  margin-right: 20px;
}

h4{
  margin:0px;
}

a:hover{
  color: #09cdeb;
}

.tablink {
    margin-top: 20px;
    background-color: transparent;
    color: black;
    float: left;
    outline-style: solid;
    outline-color: black;
    outline-width: thin;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: rgba(117, 190, 218, 0.5);
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
    text-decoration: underline;
}

.menu{
    width = 100%;
}

body{
    background-image: url("./Images/landscapebackground.jpg");
    //background-repeat: no-repeat;
    //background-attachment: fixed;
}

.intro-img{
    outline-style: solid;
    outline-color: black;
    outline-width: medium;
}

.container2 {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.intro-pics{
  align-content: center;
}
.description{
    background-color: #365170;
    color: #09cdeb;
    margin: auto;
    padding-top: 10px;
    padding: 10px;
    width: 50%;
    border: 3px solid black;
    text-align: left;
}

.past-years{
    background-color: #365170;
    color: #09cdeb;
    margin: auto;
    padding-top: 10px;
    padding: 10px;
    width: 50%;
    border: 3px solid black;
    text-align: center;
    margin-top: 20px;
}

.card {
     background-color: #365170;
     color: #09cdeb;
     padding: 10px;
     margin-top: 20px;
     border: 3px solid black;
}

p1{
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

b{
 color: #0d9fcc;
}

.footer {
     background-color: #365170;
     color: #09cdeb;
     padding: 20px;
     margin-top: 20px;
     border: 3px solid black;
}

.hspace{
    margin: 20px;
}

.space{
    margin: 100px;
}
